<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" href="stylesheets/home.css" />
            <script src="https://kit.fontawesome.com/2e4f9a987e.js" crossorigin="anonymous"></script>
            <!-- <link rel="stylesheet" href="../styles/main.css" /> -->
            <title>Home</title>
        </head>
    </head>
    <body>
        <header class="home-header"><h1>Flow Flock</h1></header>
        <main class="home-main">
            <div class="sidebar home-item">
                <h1>Sidebar</h1>
            </div>
            <div class="feed-content home-item">
                <h1>Feed</h1>
                <div class="your-feed">
                    <div class="for-you feed-type">
                        <a>For You</a>
                    </div>
                    <div class="following feed-type">
                        <a>Following</a>
                    </div>
                </div>
            </div>
            <div class="updates home-item">
                <h1>Updates</h1>
            </div>
        </main>
    </body>
</html>
