<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/style.css" />
        <script src="https://kit.fontawesome.com/2e4f9a987e.js" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="../styles/main.css" /> -->
        <title>Sign Up for FlowFlock</title>
    </head>
    <body>
        <div class="main-page">
            <div class="content">
                <div class="flow-flock-intro">
                    <h1>Flow Flock</h1>
                </div>
                <div class="flow-flock-joining">
                    <h1>Happening Now</h1>
                    <h5>Join today.</h5>
                    <div class="signup-account">
                        <a href="signupWithGoogle" class="signup-with">
                            <span class="signup-icon-items">
                                <i class="fa-brands fa-google fa-xl signup-icon" style="color: #d51010"></i>
                                Sign up with Google
                            </span>
                        </a>
                        <a class="signup-with">
                            <span class="signup-icon-items">
                                <i class="fa-brands fa-facebook fa-xl signup-icon" style="color: #1041d5"></i>
                                Sign up with Facebook
                            </span>
                        </a>
                        <div class="or">
                            <div class="h-line"></div>
                            <div class="">or</div>
                            <div class="h-line"></div>
                        </div>
                        <a class="create-account" id="create-account">
                            <span class="signup-icon-items">
                                <strong>Create Account</strong>
                            </span>
                        </a>
                        <div class="privacy-policy">
                            By signing up, you agree to the
                            <span class="link-detail">Terms of Service</span> and
                            <span class="link-detail">Privacy Policy,</span> including
                            <span class="link-detail">Cookie Use.</span>
                        </div>
                        <a class="already-account">
                            <strong>Already have an account? </strong>
                        </a>
                        <a href="/signin" class="account-sign-in">
                            <span class="signup-icon-items">
                                <strong>Sign in</strong>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="signup-steps">
                    <div class="close-btn">
                        <span class="close">&times;</span>
                    </div>
                    <div class="steps-count">
                        <strong>Step 1 of 2</strong>
                    </div>
                </div>
                <div class="create-account-info">
                    <div class="create-account-text">
                        <h1>Create your account</h1>
                    </div>
                    <div class="name">
                        <div class="label">
                            <label for="name"><strong>Name</strong></label>
                        </div>
                        <div class="signup-input">
                            <input type="text" id="name" />
                        </div>
                    </div>
                    <div class="email">
                        <div class="label">
                            <label for="email"><strong>Email</strong></label>
                        </div>
                        <div class="signup-input">
                            <input type="text" id="email" />
                        </div>
                    </div>
                    <div class="date-of-birth">
                        <div class="dob-text">
                            <h4>Date of birth</h4>
                        </div>
                        <div class="day-month-year">
                            <div class="month">
                                <label for="month"><strong>Month</strong></label>
                                <select id="month">
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            <div class="day">
                                <div class="dob-label"></div>
                                <label for="day"><strong>Day</strong></label>
                                <select id="day"></select>
                            </div>
                            <div class="year">
                                <label for="year"><strong>Year</strong></label>
                                <select id="year" name="year"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register">
                    <a class="register-next" onclick="registerStepOne()">
                        <strong>Register</strong>
                    </a>
                </div>
            </div>
        </div>
        <!-- <footer>&copy; 2024 Twitter Clone</footer> -->
    </body>
</html>
<script src="javascripts/main.js"></script>
<script src="javascripts/apisCalls.js"></script>
<script src="javascripts/apisMethods.js"></script>
