<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" id="modal-content">
        <%- include('StepOne') %>
        <%- include('StepTwo') %>
        <%-include('StepThree') %>
        <%- include('SignIn') %>

    </div>
</div>