<div class="sign-in display-none" id="sign-in">
    <div class="modal-top">
        <div class="close-btn" onclick="closeModal()">
            <a class="close">&times;</a>
        </div>
    </div>
    <div class="modal-inner-content">
        <div class="modal-inner-head">
            <h1>Sign in your account</h1>
        </div>
        <div>
            <div class="label">
                <label for="username-mail"><strong>Username/Gmail</strong></label>
            </div>
            <div class="modal-input">
                <input type="text" id="username-mail" oninput="checkEmail()" />
            </div>
            <div class="inValidEmail display-none" id="inValidEmail">
                <div class="error">*Please Enter Valid Email Address.</div>
            </div>
        </div>
        <div>
            <div class="label">
                <label for="password"><strong>Password</strong></label>
            </div>
            <div class="modal-input">
                <input type="text" id="password" oninput="" />
            </div>
        </div>
    </div>
    <div class="modal-error display-none" id="signin-error">
        <div class="error">*Incomplete information. Please fill out all fields.</div>
    </div>
    <div class="modal-btn">
        <a class="modal-btn-txt" onclick="signIn()">
            <strong>Sign in</strong>
        </a>
    </div>
</div>
